<form class="" action="/contador" method="post">
  <button type="submit" name="mas" value="mas" id="mas" >+</button>
  <p>>{{contador}}</p>
  <button type="submit" name="menos" value="menos">-</button>
</form>
