<div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Apeidos</th>
                    <th>Edad</th>
                    <th>Fecha de nacimiento</th>
                    <th>Id</th>
                    <th>rfc</th>
                    <th>nss</th>
                    <th>Cargo</th>
                    <th>Telefono</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <th>Miguel Angel </th>
                  <th>Reyes Verdin</th>
                  <th></th>
              </tr>
            </tbody>
        </table>
        <form class="" action="/users/add" method="post">
          <div class="">
            <a href="#">First Name</a>
            <input type="text" name="" value="">
            <a href="#">Second Name</a>
            <input type="text" name="" value="">
            <a href="#">Last names</a>
            <input type="text" name="" value="">
            <a href="#">Date of birth</a>
            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
          </div>
        </form>
    </div>
